.loading {

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;

    background: url("https://vatlyhadong.com/assets/global/gif/page-loader-2.gif") no-repeat center center rgba(0, 0, 0, 0.25);
    background-size: 600px;
}


.clock_count_down {
    position: absolute;
    right: 74px;
    top: 200px;
}

