<div class="beside-container">
    <div class="beside-content">
        <div class="custom-type-slide">
            <div className="input-group">
                <div className="rs-select2 js-select-simple select--no-search">
                    <Select
                        value={gender}
                        onChange={this.handleChange}
                        options={options}
                        placeholder="hello"
                    />
                    <div className="select-dropdown"></div>
                </div>
            </div>
        </div>
        <div class="custom-time-limit">
            <div className="input-group">
                <div className="rs-select2 js-select-simple select--no-search">
                    <Select
                        value={gender}
                        onChange={this.handleChange}
                        options={options}
                        placeholder="hello"
                    />
                    <div className="select-dropdown"></div>
                </div>
            </div>
        </div>
        <div class="custom-point-type">
            <div className="input-group">
                <div className="rs-select2 js-select-simple select--no-search">
                    <Select
                        value={gender}
                        onChange={this.handleChange}
                        options={options}
                        placeholder="hello"
                    />
                    <div className="select-dropdown"></div>
                </div>
            </div>
        </div>
        <div class="custom-select-type">
            <div className="input-group">
                <div className="rs-select2 js-select-simple select--no-search">
                    <Select
                        value={gender}
                        onChange={this.handleChange}
                        options={options}
                        placeholder="hello"
                    />
                    <div className="select-dropdown"></div>
                </div>
            </div>
        </div>

    </div>
</div>